<?php

use Zend\Mail\Transport\Smtp;

return [

    'mt_mail' => [

        /* Transport settings */
        'transport' => Smtp::class,
        'port'      => 587,
        'transport_options' => [
            'host' => 'some-host.com',
            'connection_class' => 'login',
            'connection_config' => [
                'username' => 'user',
                'password' => 'pass',
                'ssl' => 'tls',
            ],
        ],

        /*
         * List of enabled composer plugins
         * Uncomment name of plugin you want to enable, then uncomment and edit its options below
         */
        'composer_plugins' => [
//            'DefaultHeaders',
//            'Layout',
//            'PlaintextMessage',
//            'MessageEncoding',
//            'EmbeddingImages'
        ],

        /*
         * Plugin configuration
         */

        // DefaultHeaders parameters
//        'default_headers' => array(
//            'From' => 'information-no-reply@yourwebsite.com',
//            'Reply-To' => 'Website Admin <admin@yourwebsite.com>',
//        ),

        // Layout parameters
//        'layout' => 'application/mail/layout.phtml',

        // MessageEncoding parameters
//        'message_encoding' => 'UTF-8',
    ],

];
